div.container {
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  overflow: scroll;
}

app-work-card {
  //border: solid;
  //border-width: 1px;
  //border-color: black;

  flex-basis: calc(100% / var(--cols));
  height: calc(100% / var(--rows));
}
