<div class="menu">
  <div class="col">
    <h1 class="col-title" routerLink="/home/poster">Poster</h1>
  </div>
  <div class="col">
    <h1 class="col-title" routerLink="/home/photography">Photography</h1>
  </div>
  <div class="col">
    <h1 class="col-title" routerLink="/home/editorials">Editorial</h1>
  </div>
  <div class="col">
    <h1 class="col-title" routerLink="/home/corporate-design">
      Corporate Design
    </h1>
  </div>
  <div class="col">
    <h1 class="col-title" routerLink="/home/3d">3D</h1>
  </div>
  <div class="col">
    <h1 class="col-title" routerLink="/home/malerei">Malerei</h1>
  </div>
</div>
