<div class="menu">
  <div class="col">
    <h1 class="col-title linkig" routerLink="/poster">Poster</h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/photography">Photography</h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/editorial">Editorial</h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/corporate-design">
      Corporate Design
    </h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/3d">3D</h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/malerei">Malerei</h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/video">video</h1>
  </div>
  <div class="col">
    <h1 class="col-title linkig" routerLink="/about-me">About me</h1>
  </div>
</div>
