.work-title {
  margin-top: 50vh;
}

.work-right-stuff {
  float: right;
  max-width: 50%;
}

.work-description {
  max-width: 50%;
}

.work-info {
  text-align: right;
}

.work-date-range {
  text-align: right;
}

.e {
  font-size: 120px;
  position: fixed;
  bottom: 1%;
  left: 1%;
  margin: 0;
}
