.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  height: 80vh;
}

img {
  height: 50vh;
  max-width: 100%;
  display: block;
  margin: auto;
}

.title {
  text-align: center;
}
