/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  color: white;
}

h5 {
  color: white;
}

p {
  color: white;
}

.linkig {
  cursor: pointer;
}

/*div {
  border: solid;
  border-color: black;
  border-width: 1px;
}*/
