body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  /*overflow: hidden;*/
}

div {
  border: solid;
  border-color: black;
  border-width: 1px;
}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu {
  width: 100%;

  display: flex;
  flex-basis: 5%;
}

.body {
  width: 100%;

  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-grow: 3;
}

.name {
  height: 90%;

  display: flex;
  flex-basis: 8vw;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  height: 100%;

  display: flex;
  flex-basis: 100%;
}

.title {
  font-size: 50px;
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

app-works-table {
  width: 100%;
}
