<h1 class="title">Carla aMarca</h1>
<div class="row">
  <div class="col">
    <h1 class="col-title">Poster</h1>
    <a routerLink="/poster" class="home-galery-link">
      <img src="./assets/poster.png" class="home-galery-image" />
    </a>
  </div>
  <div class="col">
    <h1 class="col-title">Photography</h1>
    <a routerLink="/photography" class="home-galery-link">
      <img src="./assets/sl.png" />
    </a>
  </div>
  <div class="col">
    <h1 class="col-title">Editorial</h1>
    <img src="./assets/Editorial1.png" />
    <img src="./assets/Editorial2.png" />
    <img src="./assets/Editorial3.png" />
  </div>
  <div class="col">
    <h1 class="col-title">Corporate Design</h1>
    <img src="./assets/CorpDes1.png" />
  </div>
  <div class="col">
    <h1 class="col-title">3D</h1>
    <img src="./assets/3D_1.png" />
    <img src="./assets/3D_2.png" />
    <img src="./assets/3D_3.png" />
  </div>
  <div class="col">
    <h1 class="col-title">Malerei</h1>
    <img src="./assets/Malerei1.png" />
  </div>
</div>
