body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  /*overflow: hidden;*/
}

div {
  border: solid;
  border-color: black;
  border-width: 1px;
}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  //overflow: hidden;
}

.menu {
  width: 100%;

  display: flex;
  flex-basis: 100%;
}

.body {
  width: 100%;
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: row;
  flex-basis: 100%;
  flex-shrink: 2;
}

.name {
  height: 100%;

  display: flex;
  flex-basis: 8vw;
  flex-shrink: 2;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
}

.content {
  height: 100%;

  display: flex;
  flex-basis: 100%;
}

.title {
  font-size: 50px;
  writing-mode: sideways-lr;
  text-orientation: mixed;
  width: 50px;
  margin: 0;
}

app-works-table {
  width: 100%;
}
